.confirmation_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #FAB703;
    color: #000;
    width: 100%;
    height: auto;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
}

.box-order { 
    width: 90%;
    height: auto;
}

.confirmation_header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}

.your-order__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 3rem 0 2rem 0 ;
}

.order-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: .3rem;
}

.order-list p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
}

.order-total {
    margin-top: 1.5rem;
}

.confirmation_card {
    border-radius: 4px;
    padding: 1rem;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.switch-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}


.switch {
    position: relative;
    display: block;
    margin: 1rem auto 0 auto;
    width: 60px;
    height: 34px;
    display: flex;
    flex-direction: column;
  }

  .switch-text {
    margin-top: 2rem;
    font-size: 0.6rem;
    text-align: center;
    font-weight: bold;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--yellow);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }