.changeOrder_container {
  width: fit-content;
  padding: .4rem;
  border: solid white 1px;
  border-radius: 20px;
}

.changeOrder_img {
  width: 30px;
  cursor: pointer;
}

.changeOrder_plusMinus {
  width: 30px;
  cursor: pointer;
}