.menu_container {
    max-width: 375px;
    height: auto;
    margin: 0 auto;
    background-color: var(--background);
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.menu_header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--yellow);
    text-transform: uppercase;
    padding: 0 1rem 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 5px solid black;
}

.menu {
    display: flex;
    gap: 1rem; 
    align-items: flex-start; 
    margin-bottom: 1.5rem;
    background-color: var(--header);
    padding: 1rem; 
    border-radius: 4px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #fa7878; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.menu_img {
    height: 120px;
    width: 120px;
    border-radius: .2rem;
    object-fit: cover; 
}

.menu_descText {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
    height: 120px;
}

.menu_dish {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--yellow);
    font-size: 1.1rem;
    margin: 0; 
}

.menu_desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin: 0;
}

.menu_price {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: auto;
}