@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgba(29, 113, 157, 1);
  --darkBlue: #2C394C;
  --yellow: #56bad6;
  --white: #FFFFFF;
  --black: #000000;
}