.header_container {
    display: flex;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #2C394C;
  }
  
  .header_img {
    width: 100%;
    height: auto; 
    max-height: 160px; 
  }
  

 
  
  
  

