.overlayOrderKlar {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  background-color: #F95454;
  position: relative;
  padding-top: 100px; 
}

.orderRubrik {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.orderTid {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 3px solid black;
}

.fishContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}

.fishWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fishImage {
  width: 150px;
  height: auto;
  position: relative;
}

.rotatingText {
  font-size: 1.5rem;
}

.footerText {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
}

.locationIcon {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

.footerTextContent {
  display: flex;
  flex-direction: column;
}

.footerText p {
  margin: 0;
}
