/* Overlay container */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: var(--background);
    max-width: 1200px;
    overflow-y: auto;
    margin: 0 auto;
}

.overlay-box {
    margin-top: 1.5rem;
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    position: relative;
    height: auto;
    height: 100vh;
}

.close-overlay {
    position: absolute;
    top: .6rem;
    right: 0;
    background: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: var(--background);
    margin-right: 3rem;
}

.confirmation-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    margin-top: .2rem;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-position {
    animation: bounce 2s ease-in-out infinite;
}

.lazzyloader {
    background-color: var(--background);
    color: #ffffff;
    height: 100vh;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.box-img__two, .box-img__three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-img__three {
    margin-top: 1rem;
}

.box-img {
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
}

.box-img__two, .box-img__three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickUp-adress {
    font-family: "Roboto", sans-serif;
    margin-top: 0.2rem;
    font-style: italic;
}

.box-img__two p,
.box-img__three p {
    font-size: .7rem;
}

.your-order__title {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.countdown-title {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    position: relative;
    margin-top: -4rem;
    line-height: 0.8;
}

.order-received {
    font-weight: bold;
}

.welcome-text {
    font-style: italic;
}

.pickup-adress {
    font-size: 1rem;
    font-weight: normal;
    color: #666;
}

.order_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0.5rem 0;
    width: 100%; 
}

.order_name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-right: 3rem; 
    flex-grow: 1; 
}

.order_price {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.order_totalHeader {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.order-list, .order-total {
    width: 100%;
}

.order_total {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-bottom: 3rem;
}

/* lazy loader */

.lazy-loader {
    align-self: center;
    margin-top: 10px;
    width: 55%;
    height: 4px;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
  }
  
  .lazy-loader::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #3498db;
    animation: loader 4s linear infinite;
  }
  
  @keyframes loader {
    0% {
      left: -50%;
    }
    100% {
      left: 100%;
    }
  }
  
  @media (min-width: 600px) and (max-width: 1200px) {
    .close-overlay {
        margin-right: 5rem;
    }
  }

/* Niklas, Jonas, Rindert */