.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
}

.overlay-box {
    background-color: var(--background);
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    position: relative;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 10px 15px rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.close-overlay {
    position: absolute;
    top: .6rem;
    right: 0;
    background: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: var(--background);
}

.confirmation-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: .2rem;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-position {
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}


.box-img__two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-img__three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-img {
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
}

.box-img__two, .box-img__three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img__three {
    margin-top: 1rem;
}

.pickUp-adress {
    font-family: "Roboto", sans-serif;
    margin-top: 0.2rem;
    font-style: italic;
}

.box-img__two p,
.box-img__three p {
    font-size: .7rem;
}

/* Beställda maträtter */
.box-order {
    height: auto;
}

.your-order__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.change-order {
    margin-top: 2rem;
}

.countdown-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    margin-top: 2rem;
    text-align: center;
}

.order_container {
    display: flex;
    justify-content: space-between;
}

.order_name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.order_price {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.order_totalHeader {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-right: 1rem;
}

.order_total {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

/* Animation på punkterna bara */
.dot {
    display: inline-block;
    font-size: 1.3rem;
    animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

.dot:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}